<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/template/css")
</head>
<body>
	<header id="header" class="header fixed-top d-flex align-items-center">
		<div class="d-flex align-items-center justify-content-between">
			<a href="index.html" class="logo d-flex align-items-center">
				<span class="d-none d-lg-block">NiceAdmin</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div>
	</header>
	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link " href="@Url.Action("Index", "Home")">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="@Url.Action("Index", "Cliente")">
					<i class="bi bi-menu-button-wide"></i>
					<span>Cliente</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="@Url.Action("Index", "Log")">
					<i class="bi bi-menu-button-wide"></i>
					<span>Logs</span>
				</a>
			</li>
		</ul>
	</aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>@ViewBag.Title</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">@ViewBag.Title</li>
				</ol>
			</nav>
		</div>
		<section class="section">
			@RenderBody()
		</section>
		<footer id="footer" class="footer">
			<div class="copyright">
				&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
			</div>
			<div class="credits">
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</footer>
	</main>

	@Scripts.Render("~/template/js")
	@RenderSection("scripts", required: false)
</body>
</html>
